.hero {
  //position: relative;
  padding: 0;
}
.hero__picture {
  position: relative;

  background-image: url(../images/hero@1X.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.16;
  min-height: 170px;
  filter: grayscale(100%);

  z-index: -4;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero@2X.png);
  }
  @media screen and (min-width: 480px) {
    min-height: 250px;
  }

  @media screen and (min-width: 780px) {
    min-height: 400px;
  }
  @media screen and (min-width: 1280px) {
    min-height: 600px;
  }
}
.hero__title {
  position: absolute;
  z-index: 100;
  top: 7px;
  left: 20%;
  right: 0;
  bottom: 0;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: black;
  @media screen and (min-width: 280px) {
    left: 5%;
    right: 2%;
  }
  @media screen and (min-width: 480px) {
    top: 20px;

    font-size: 24px;
  }

  @media screen and (min-width: 780px) {
    font-size: 33px;
    top: 60px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    top: 99px;
  }
}

.hero__button {
  position: absolute;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #e84d0f;
  left: 32%;
  bottom: 10%;
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #e84d0f;
  border-radius: 35px;
  z-index: 1000;
  @media screen and (min-width: 480px) {
    width: 150px;
    left: 37%;
  }
  @media screen and (min-width: 780px) {
    width: 200px;
    height: 35px;
    left: 65%;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #e84d0f;
    left: 900px;
    right: 50px;

    width: 237px;
    height: 46px;
  }
}
.hero__button:hover,
.hero__button:focus {
  color: white;
  background-color: #e84d0f;
}
.embla__viewport {
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 20%;
  right: 20%;
  z-index: 100;
  @media screen and (min-width: 280px) {
    top: 45px;
    left: 5%;
    right: 5%;
  }
  @media screen and (min-width: 480px) {
    top: 70px;
    left: 5%;
    right: 5%;
  }
  @media screen and (min-width: 780px) {
    top: 150px;
  }
  @media screen and (min-width: 1280px) {
    left: 20%;
    right: 20%;
    top: 250px;
  }
}

.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
.embla__text {
  font-family: 'Myriad Pro';
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #262626;

  @media screen and (min-width: 480px) {
    font-size: 16px;
    line-height: 20px;
  }
  @media screen and (min-width: 780px) {
    font-size: 20px;
    line-height: 24px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.heroRelativ {
  position: relative;
}
.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 400;
  bottom: 13%;
  transform: translateY(-50%);
  border: 0;
  width: 15px;
  height: 15px;
  fill: var(--orange-color);
  padding: 0;
  @media screen and (min-width: 480px) {
    width: 20px;
    height: 20px;
    bottom: 20%;
  }
  @media screen and (min-width: 780px) {
    width: 30px;
    height: 30px;
    bottom: 25%;
  }
  @media screen and (min-width: 1280px) {
    width: 60px;
    height: 60px;
    top: 45%;
  }
}
.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__prev {
  left: 10%;
}

.embla__next {
  right: 10%;
}
