:root {
  --black-color: #000000;
--orange-color  : #e84d0f;
  --white-color: #ffffff;
  --light-text: #999999;
  --dark-text: #1d1d1b;
  --grey-section: #f2f2f2;
  --mobile-background: rgba(17, 21, 24, 0.9);
  --primary-font-family: 'Open Sans', sans-serif;
}
