@import './container';

@import './base-style';
@import './variables';

@import './header';
//@import './theme';
//@import './mobileMenu';
//@import './hero';
@import './news';
//@import './aboutUs';
@import './chart';
@import './conditions';
@import './benefits';
@import './footer';
@import './modal';
