<section  class="aboutColor">
    <div class="about container">
    <h2 class="about__title"> Co jsme zač</h2>
   
<p class="about__text"> <img class="about__image" src="images/budova1x.jpeg" srcset="
        images/budova1x.jpeg 1x,
         images/budova2x.jpeg 2x" alt="obrazek budovy sidla firmy" width="325" />V roce 1997 si Martin a Vašek chtěli přivydělat při studiu ČVUT. Založili firmu a brzy s překvapením zjistili, že mohou
zaměstnat i své přátele, kteří sdílí jejich znalosti a smysl pro humor. Po 20+ letech úspěšného fungování je <a class="about__link" href="https://www.etnetera.cz/" target="_blank" rel="noopener noreferrer">Etnetera</a>
<strong>přední společností v oblasti vývoje webových portálů a aplikací.</strong> Naším cílem je být jedničkou na českém trhu v tomto
segmentu. Orientujeme se na <strong>dlouhodobá partnerství a hledání jedinečných řešení s přidanou hodnotou, která vás posunou
vpřed.</strong> Naše sebedůvěra stojí na silném stabilním zázemí a zkušenostech z tisíce náročných projektů pro klienty, ktěří
jsou špičkou v oboru. Držíme slovo i termíny, dokážeme přiznat a napravit chybu. Věříme sobě i vám.Pracujeme v liberálním a otevřeném prostředí bez kravat a procesních příruček. Inspirujeme se principy svobodné firmy,
kde se zisky dělí transparentně, týmy si určují svá vlastní pravidla a management nemá nadstandardní benefity. Rádi
společně sportujeme a podporujeme se. Kopeme za jeden tým. Není proto náhoda, že jsme se <span class="myButton">4 roky po sobě</span> umístili na
třech nejvyšších příčkách v soutěži Best Employers ČR.</p>
</div>
</section>