<section class="benefits ">
 <div class="container">
        <h2 class="visually-hidden">Staráme se o lidi</h2>
        <ul class="benefits__list list">
            
            <li class="benefits__item">
               
                <h3 class="benefits__title">Sdílení vedomostí</h3>
               <p class="benefits__text">Inspirativní prostředí plné zajímavých lidí, které stojí za to poznat. Organizujeme pravidelné TechLunche, kdy nad lahodnou pizzou sdílíme naše nové poznatky a vědomosti.</p>
              
              <div class="benefits__publication">
               <time class="benefits__time" datetime="2021-01-11">11. Ledna</time>
               <a class="benefits__link" href="#" target="_blank" rel="noopener noreferrer">#etnplesk</a>
              </div>
            </li>
        
          <li class="benefits__item">
               
                <h3 class="benefits__title">O lidi se staráme někdy víc než o klienty</h3>
                <p class="benefits__text">Komfortní pracovní prostředí, které je unikátní kombinací kanceláří, tělocvičny, odpočinkových prostor a kavárny. U nás se strohé prostředí a nažehlené límečky fakt nenosí.</p>
            <div class="benefits__publication">
               <time class="benefits__time" datetime="2021-01-12">12. Ledna</time>
               <a class="benefits__link" href="#" target="_blank" rel="noopener noreferrer">#etnplesk</a>
              </div>
        </li>
               <li class="benefits__item">
               
                <h3 class="benefits__title">Jaké u nás dostaneš benefity?</h3>
                <p class="benefits__text">Pestrým koktejlem takových těch typických benefitů jako jsou třeba stravenková platební karta, Multisport karta, příspěvky na vzdělání, dopravu a penzijní pojištění.</p>
            <div class="benefits__publication">
               <time class="benefits__time" datetime="2021-01-12">12. Ledna</time>
               <a class="benefits__link" href="#" target="_blank" rel="noopener noreferrer">#etnplesk</a>
              </div>  
        </li>
            
        </ul>
    </div>

</section>
