<section class="conditions">  
  <div class="conditios__container container">
    <div class="conditions__info conditions__info--noMark">
        <h2 class="conditions__title">Chceš být naším parťákem?</h2>
        <p class="conditions__title--who">Měl(a) bys:</p>
        
        <ul class="conditions__list conditions__list--noMark">
        
            <li class="conditions__item conditions__list--noMark">Žít HTML5, CSS3. Doslova.Tento jazyk Ti občas připadá přirozenější než čeština.
        
            </li>
            <li class="conditions__item conditions__list--noMark">
                Znát Javascript.
            </li>
            <li class="conditions__item conditions__list--noMark">Nad pojmy ES6/7, React a Redux bys neměl bezradně krčit rameny, ale bezpečně je znát.
        
            </li>
            <li class="conditions__item conditions__list--noMark">
                Node.js je Tvůj dobrý kamarád, který používáš při buildování
            </li>
            <li class="conditions__item conditions__list--noMark">Velkou výhodu představují dobré vztahy s dalšími JS frameworky. Tzn. pokud si tykáš třeba s Angular, Vue.js či
                Vanilla
                JS.
            </li>
            <li class="conditions__item conditions__list--noMark ">
                Uvedené technologie Tě zajímají, ale nemáš s nimi moc zkušeností? Nevadí, stav se k nám na kafe, probereme, co
                se s tím
                dá dělat.
            </li>
        
        
        </ul>
    
 </div>

 <div class="conditions__info conditions__info--mark">
    <h2 class="conditions__title">Co za to dostaneš?</h2>
    <p class="conditions__title--who">Budeme si tě hýčkat např.:</p>

    
    <ol class="conditions__list conditions__list--mark">
        <li class="conditions__item conditions__item--mark ">
            Komfortním pracovním prostředím, které je unikátní kombinací kanceláří, tělocvičny, odpočinkových prostor a
            kavárny. U
            nás se strohé prostředí a nažehlené límečky fakt nenosí.
    
        </li>
        <li class="conditions__item conditions__item--mark  ">
            Pestrým koktejlem takových těch typických benefitů jako jsou třeba stravenková platební karta, Multisport karta,
            příspěvky na vzdělání, dopravu a další.
        </li>
        <li class="conditions__item conditions__item--mark  ">
            Možností pořádně si oddychnout. Nejen v našich relaxačních prostorech, ale třeba na pláži v exotice. Díky 5
            týdnům
            placené dovolené.
        </li>
        <li class="conditions__item conditions__item--mark  ">
            Inspirativním prostředím plným zajímavých lidí, které stojí za to poznat. Organizujeme pravidelné TechLunche,
            kdy nad
            lahodnou pizzou sdílíme naše nové poznatky a vědomosti.
        </li>
        <li class="conditions__item conditions__item--mark  ">
            A hlavně… svobodou!!! Budeme rádi, pokud s námi budeš v kanceláři, ale rozumíme tomu, že někdy budeš chtít
            pracovat i
            odjinud. Zároveň chápeme, že každému z nás vyhovuje jiná pracovní doba a zařízení, na kterém pracuje. Pojďme se
            pobavit
            o tvých preferencích, určitě se domluvíme.
        </li>
    </ol>
</div>
</div>

</section>