<header class="header ">
      <div class="header__container ">
                <a href="https://www.etnetera.cz/"  target="_blank" rel="noopener noreferrer" >
            <img src="images/svg/logo.svg" alt="logo etnetera" width="150" class="logo" />
                </a>
  
          
        <div class="site-nav container  ">
    <ul class="site-nav__list list" data-menu id="menu-container">
        <li class="site-nav__item">
            <a class="site-nav__link" href="#">DOMŮ</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link site-nav__link--current" href="./index.html">KDO JSME</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="#">CO DĚLÁME</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="#">REFERENCE</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="#">PRÁCE U NÁS</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="#">KONTAKT</a>
        </li>
    </ul>
        </div>

 </div>
      
           
        <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg width="35" height="35">
                <use href="/images/svg/symbolDefs.svg#icon-openMenu">
            
                </use>
            </svg>
        </button>
        
        </div>
</header>