<div class="menu-container js-menu-container container" id="mobile-menu">
    <button class=" menu-toggle--mobile js-close-menu">
                <svg width="15" height="15">
                    <use href="images/svg/symbolDefs.svg#icon-closeMenu">
                
                    </use></svg>
    </button>


    <div class="">
        <a href="https://www.etnetera.cz/" class="logo-mobile"  target="_blank" rel="noopener noreferrer">
        <img src="images/svg/logoInGraf.svg" alt="logo etnetera" width="30" class="logo" />
        </a>
    
    </div>

    <ul class="mobile-menu list">
        <li class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">DOMŮ</a>
        </li>
        <li class="mobile-menu__item">
            <a href="./index.html" class="mobile-menu__link mobile-menu__link--current">KDO JSME</a>
        </li>
        <li class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">CO DĚLAME</a>
        </li>
        <li class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">PREFERENCE</a>
        </li>
        <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">PRÁCE U NÁS</a>
            </li>
        <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">KONTAKT</a>
        </li>
    </ul>

   

</div>