
<div class="float-container js-float-container" id="mobile-float">
    <div class="bubble speech">
    <button class="js-close-float float__close">
       <img  src="images/svg/close.svg" alt="tlačitko zavirajicí okno" width="20" class="" />
    </button>

<form class="float__form">
     <h3 class="float__title">Dostávejte články  přímo do vaší e-mailové schránky!</h2>
  <label class="float__label">
    VAŠE E-MAILOVÁ ADRESA
    <input class="float__input" placeholder="name@adress.com"  type="email" name="email" required />
  </label>

  <button class="float__subbmit" type="submit">Odeslat</button>
</form>

<p class="float__text">
    Podmínky zpracování osobních údajů („Podmínky“) poskytují informace o shromažďování, zaznamenání, používání a jiného zpracování osobních údajů společností Etnetera a.s. se sídlem Jankovcova 1037/49, 170 00 Praha 7, IČO: 25103814, zapsána u MS Praha, sp.zn. B 11168, jakožto správcem osobních údajů.</p>

</div>
</div>

 <div class="buttonFloat">
<button class="buttonFloat__icon js-open-float" aria-expanded="false" aria-controls="float-menu">
<img src="images/svg/floatHelpButton.svg" alt="tlačitko přihlášení k odběru novinek" width="50" class="float" />
</button>
</div>